<section>
  <div class="form-box">
    <div class="form-value">
      <form action="" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h2>Login</h2>
        <div class="inputbox">
          <input type="text" required name="email" formControlName="email"
                 [ngClass]="{'ng-dirty': false, 'ng-valid': false, 'ng-touched': false}">
          <label for="">Email</label>
        </div>
        <div class="inputbox">
          <input type="password" required name="email" formControlName="password">
          <label for="">Password</label>
        </div>
        <div class="forget">
          <label for=""><input type="checkbox">Remember Me</label>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Log in</button>
        <div class="register">
          <p>Don't have a account <a href="#">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
